<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>All candidates</title>
</head>

<body class="body">
    <h1>All candidates</h1>
    <div>
        <% candidates.forEach(candidate => { %>
        <div>
            <ul>
                <b>Preferred position:</b> <%= candidate.preferred_position%> <br>
                <b>Soft skills:</b> <%= candidate.soft_skills%> <br>
                <b>Other aspects:</b> <%= candidate.other_aspects %> <br>
                <b>Work culture preferences:</b> <%= candidate.work_culture_preferences %> <br>
                <a href="<%= `/candidates/${candidate._id}/edit`%>">
                    <button class="edit">Edit</button>
                </a>
                <a href="<%= `/candidates/${candidate._id}/delete`%>">
                    <button class="edit">Delete</button>
                </a>
                <a href="<%= `/candidates/${candidate._id}`%>">
                    <button class="edit">Detailed info</button>
                </a>
            </ul>
        </div>
        <br>
        <% }); %>
    </div>
</body>

</html>