<% if (user.role==='candidate' && user.candidateProfile) { %>
  <!-- Employee with candidate view -->
  <%- include ('../candidates/showSingleCandidate') %>
    <% } else if (user.role==='recruiter'|| (user.role==='candidate' && !user.candidateProfile)) { %>
      <!-- Recruiter view OR employee without candidate profile -->
      <div class="container">
        <div class="main-body">
          <hr>
          <h1 class="personal-info">Personal profile</h1>
          <div class="row gutters-sm">
            <!-- Left column -->
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <div class="mt-3">
                      <h2>
                        <%= user.fullName %>
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="2" y1="12" x2="22" y2="12"></line>
                        <path
                          d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                        </path>
                      </svg>Email</h6>
                    <span class="text-secondary">
                      <%= user.email %>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Right column -->
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">
                        First name
                      </h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= user.name.firstname%>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">
                        Last name
                      </h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= user.name.lastname%>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">
                        Email
                      </h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= user.email %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="profile-buttons">
                <% if (user.role === 'recruiter') { %>
                  <a href="<%=`/user/${user._id}/create_offers` %>">
                    <button class="btn btn-outline-primary mr-2">Add job</button>
                  </a>
                  <a href="<%=`/user/${user._id}/offers` %>">
                    <button class="btn btn-outline-primary mr-2">Your jobs</button>
                  </a>
                  <% } %>
                <a href="<%=`/user/${user._id}/edit` %>">
                  <button class="btn btn-outline-secondary mr-2 br-light">Edit profile</button>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>