<div class="col">
  <div class="card border-success mb-3 m-0 p-0" style="max-width: 75%">
    <div class="card-header bg-transparent border-success"></div>
    <div class="card-body text-success">
      <h5 class="card-title"><%= title %></h5>
     <div class="circle"><span class="circle__content"><%= description %></span></div>
      <p class="card-text"><%= description_text %></p>
      <% if (user.candidateProfile && user.candidateProfile.equals(id)) { %>
      <a href="/jobs/<%= id %>" class="btn btn-primary">More...</a>
      <% } else { %>
      <a href="/candidates/<%= id %>" class="btn btn-primary">More...</a>
      <% } %>

    </div>
    <div class="card-footer bg-transparent border-success"></div>
  </div>
</div>
