<form class="container" id="search" method="get">
  <div class="input-group mb-3 search-section row justify-content-center">
    <label for="job_title" class="search-label">Job Title</label>
    <!-- Job title -->
    <% if(job_title == undefined ){ %>
    <input id="job_title" name="job_title" type="text" class="form-control rounded search-field"
      placeholder="e.g. Senior Android Developer" aria-label="Username" aria-describedby="basic-addon1" value="">
    <% }else { %>
      <input id="job_title" name="job_title" type="text" class="form-control rounded search-field"
      placeholder="e.g. Senior Android Developer" aria-label="Username" aria-describedby="basic-addon1" value="<%=job_title %>">
    <% } %>

    <!-- Number of results -->
    <div class="dropdown search-dropdown ml-4">
      <select class="custom-select" id="inputGroupSelect01" name="results">
        <% 
        var options = [ "10", "20", "30", "10000" ];
        var result_labels = [ "10", "20", "30", "All" ];
        if (size == undefined) { 
          for ( var i = 0; i < options.length; i++ ){
          %>
          <option value="<%=options[i] %>"><%=result_labels[i] %> results</option>
        <% }} else {
        var options = [ "10", "20", "30", "10000" ];
        var result_labels = [ "10", "20", "30", "All" ];
        for ( var i = 0; i < options.length; i++ )
        {
            var selected = (size == options[i]) ? "selected" : "";
            %>
          <option value="<%=options[i] %>" <%=selected %>><%=result_labels[i] %> results</option>
        <% }} %>
      </select>
    </div>
      
    <!-- Job type -->
    <div class="dropdown search-dropdown ml-4">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Job type
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% 
        var types = ["Full-time", "Internship", "Working Student", "Flexible"];
        var ids = ["full-time", "internship", "working-student", "flexible"];
        if(job_type == undefined ){ 
          for(let i = 0; i < types.length; i++){ %>
            <div class="form-check">
              <input class="form-check-input" name="job_type" type="checkbox" id="<%=ids[i] %>" value="<%=types[i] %>" >
              <label class="form-check-label" for="<%=ids[i] %>">
                <%=types[i] %>
              </label>
            </div>
        <% }} else {
          for(let i = 0; i < types.length; i++){
            var checked = (job_type.includes(types[i])) ? "checked" : "";%>
            <div class="form-check">
              <input class="form-check-input" name="job_type" type="checkbox" id="<%=ids[i] %>" value="<%=types[i] %>" <%=checked %> >
              <label class="form-check-label" for="<%=ids[i] %>">
                <%=types[i] %>
              </label>
            </div>
            <%}%>
          <%}%>
      </div>
    </div>

    <!-- Remote -->
    <div class="btn btn-secondary ml-4">
      <div class="form-check">
        <% var checked = (remote !== undefined) ? "checked" : "" ;%>
        <input class="form-check-input" name="remote" type="checkbox" value="remote" id="remote" <%=checked %>>
        <label class="form-check-label" for="remote">
          Remote
        </label>
      </div>
    </div>

    <!-- Search button -->
    <button class="btn btn-primary ml-4" type="submit" id="search-addon">
      <i class="fas fa-search"></i>
      <span>Search</span>
    </button>
  </div>
</form>

<!-- Alerts -->
<div>
  <% if(matches !== undefined && matches.length > 0) { %>
    <%- include ('../matches/index.ejs', {matches: matches}) %> 
  <% } else if ( matches !== undefined && matches.length === 0){ %>
    <div class="alert alert-secondary" role="alert">
      No results yet. Please try something else!
    </div>
  <% } else if (missingJobTitle == "") { %>
    <div class="alert alert-warning" role="alert">
      Job title field is missing! Tell us which job do you want to look for? 
    </div>
  <% } else { %>
    <div class="alert alert-info" role="alert">
      Here you can search for other jobs
    </div>
  <% } %>
</div>