<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../../public/stylesheets/matches.css" />
</head>

<body>
  <div class="d-none d-lg-block">
    <div class="card-container">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <%- include('../../partials/matches/card.ejs', {title: 'Name of position' , description: 'description' ,
          description_text: 'description text' }); %>
          <%- include('../../partials/matches/card.ejs', {title: 'Name of position' , description: 'description' ,
            description_text: 'description text' }); %>
            <%- include('../../partials/matches/card.ejs',{title: 'Name of position' , description: 'description' ,
              description_text: 'description text' }); %>
              <%- include('../../partials/matches/card.ejs', {title: 'Name of position' ,
                description: ' description    ' , description_text: 'description text' }); %>
                <%- include('../../partials/matches/card.ejs', {title: 'Name of position' , description: 'description' ,
                  description_text: 'description text' }); %>
                  <%- include('../../partials/matches/card.ejs',{title: 'Name of position' , description: 'description'
                    , description_text: 'description text' }); %>
      </div>
    </div>
  </div>

  <div class="d-block d-lg-none ">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <%- include('../../partials/matches/carousel.ejs', {active:true, title: 'Name of position' ,
          description: 'description' , description_text: 'description text' }); %>
          <%- include('../../partials/matches/carousel.ejs', {active:false, title: 'Name of position' ,
            description: 'description' , description_text: 'description text' }); %>
            <%- include('../../partials/matches/carousel.ejs', {active:false, title: 'Name of position' ,
              description: 'description' , description_text: 'description text' }); %>

      </div>

      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

</body>

</html>