<h1>All job offers</h1>

<div>
    <% jobs.forEach(job => { %>


    <div>
        <ul>
            <b>Job Title:</b> <%= job.job_title%> <br>
            <b>Company Location:</b> <%= job.location %> <br>
            <b>Company Name:</b> <%= job.company_name %> <br>
            <b>Job Description:</b> <%= job.description %> <br>
        </ul>
        <a href="<%= `/jobs/${job._id}/edit`%>">
            <button class="single_view">Edit offer</button>
        </a>
        <a href="<%= `/jobs/${job._id}/delete`%>">
            <button class="single_view">Delete offer</button>
        </a>
        <a href="<%= `/jobs/${job._id}`%>">
            <button class="single_view">View offer</button>
        </a>
    </div>
    <br>

    <% }); %>

</div>