<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>All job offers</title>
</head>

<body class="body">
    <h1>All job offers</h1>

    <div>
        <% jobs.forEach(job => { %>


        <div>
            <ul>
                <b>Job Title:</b> <%= job.job_title%> <br>
                <b>Company Location:</b> <%= job.location %> <br>
                <b>Company Name:</b> <%= job.company_name %> <br>
                <b>Job Description:</b> <%= job.description %> <br>
            </ul>
            <button class="single_view" onclick="location.href='/jobs/<%= job.id %>'">Edit offer</button>
            <a href="<%= `/jobs/${job._id}/delete`%>">
                <button class="single_view">Delete offer</button>
            </a>
        </div>
        <br>

        <% }); %>

    </div>

</body>

</html>